<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@*" data-semver="4.0.0-alpha.2" rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <script data-require="bootstrap@*" data-semver="4.0.0-alpha.2" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script data-require="jquery@*" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="example">
    <h1>AngularJS components</h1>
    <div ng-controller="OrderController as controller" class="container">
      <form class="form-horizontal">
        <div class="form-group has-feedback">
          First Name: <input type="text" ng-model="controller.data.person.firstName" />
        </div>
        <div class="form-group has-feedback">
          Last Name: <input type="text" ng-model="controller.data.person.lastName" />
        </div>
        <b>Invoice Address</b>
        <my-address address="controller.data.invoiceAddress"></my-address>
        <b>Delivery Address</b>
        <my-address address="controller.data.deliveryAddress"></my-address>
      </form>
      <hr />
      {{ 50 /20 }}
      {{controller.data | json}}
  
    </div>
  </body>

</html>
